<!DOCTYPE html>
<html lang="en">
    <style>
        meme-1 { 
            justify-content:space-between;
            text-align:center;
            justify-content:space-around;
        }

        h1 {
        color: darkgreen;
        font-weight: bold;
        font-family: 'Gill Sans';
        -webkit-text-stroke: thin;
        -webkit-text-stroke-color: black;
    }

    </style>
    <h1>
        FIND TWO ADDITIONAL MEMES
    </h1>
<body>
    <div class=".col-">
<div class="meme-1">
    <img src="~/css/meme-1.png" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;;background-size: cover;" alt="Sample Photo" width="200" height="200" />
    <img src="~/css/meme-2.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
    <img src="~/css/meme-3.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
            <a class="redirect" asp-area="" asp-controller="Sets" asp-action="SetBeige"><div class="buttons"><button class="memebutton2">BEIGE  PREMIUM MIX</button></div></a> @{
                /*przycisk pierwszy*/
            }
   </div>

</div>
<div class="meme-2">
        <img src="~/css/meme-4.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt=" Sample Photo" width="200" height="200" />
        <img src="~/css/meme-5.png" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <img src="~/css/meme-6.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <a class="redirect" asp-area="" asp-controller="Sets" asp-action="SetPink"><div class="buttons"><button class="memebutton5">PINK  PREMIUM MIX</button></div></a> @{
            /*przycisk drugi*/
        }
   
</div>
<div class="meme-3">
        <img src="~/css/meme-7.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <img src="~/css/meme-8.png" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <a class="redirect" asp-area="" asp-controller="Sets" asp-action="SetSea"><div class="buttons"><button class="memebutton8">SEA  PREMIUM MIX</button></div></a> @{
            /*przycisk trzeci*/
        }
        <img src="~/css/meme-9.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
</div>
<div class="meme-4">
        <img src="~/css/meme-10.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <img src="~/css/meme-12.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <img src="~/css/meme-11.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <a class="redirect" asp-area="" asp-controller="Sets" asp-action="SetGray"> <div class="buttons"><button class="memebutton11">GRAY  PREMIUM MIX</button></div></a> @{
            /*przycisk czwarty*/
        }
</div>
<div class="meme-5">
        <img src="~/css/meme-13.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <img src="~/css/meme-15.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <a class="redirect" asp-area="" asp-controller="Sets" asp-action="SetOrange"><div class="buttons"><button class="memebutton14">ORANGE  PREMIUM MIX</button></div></a> @{
            /*przycisk piąty*/
        }
        <img src="~/css/meme-14.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
</div>
<div class="meme-6">
        <img src="~/css/meme-16.png" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <img src="~/css/meme-18.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
        <a class="redirect" asp-area="" asp-controller="Sets" asp-action="SetPurple"><div class="buttons"><button class="memebutton17">PURPLE PREMIUM MIX</button></div></a> @{
            /*przycisk szósty*/
        }
        <img src="~/css/meme-17.jpg" style="margin-top:5px;border-right:2px solid black;border-left:2px solid black;border-top:2px solid black;" alt="Sample Photo" width="200" height="200" />
</div>


<footer class="border-top footer text-muted">
    <div class="container">
    </div>
</footer>
</body>
</html>