@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url(https://pbs.twimg.com/media/EOogGGTX4AAoa35.jpg)
    }

    footer {
        background-color:azure;
    }

    h1 {
        background-color:azure;
        font-weight:bold;
        font-family:'Gill Sans';
        color:antiquewhite;
        -webkit-text-stroke: thin;
        -webkit-text-stroke-color: black;
    }
</style>
<body>
    <div class="text-center">
    <h1 class="display-4">WITAMY W WEB JAK SKLEP</h1>   
</div>
</body>
<footer>

</footer>
