<!DOCTYPE html>
<html lang="en">
    <style>
        singlememebutton-1 {
            background-attachment:local;
        }
        h1 {
        
        color: darkgreen;
        font-weight: bold;
        font-family: 'Gill Sans';
        -webkit-text-stroke: thin;
        -webkit-text-stroke-color: black;
        }
    </style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    
</head>
<h1>SINGLE MEMES</h1>
<body>
    <section class="memes">
        <div class="container">
            <div class="row">
                <div class="row-cols-sm-8">
                    <img src="~/css/meme-1.png" style="position:relative;top:2px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme1"><div class="buttons"><button class="singlememebutton-1">Kup mema!</button></div></a> @{/*przycisk pierwszy*/}                    
                    <img src="~/css/meme-3.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme2"><div class="buttons"><button class="singlememebutton-2">Kup mema!</button></a> @{/*przycisk drugi*/}
                    <img src="~/css/meme-4.jpg" style="position:relative;bottom:676px;left:102px;margin-top:5px;border: solid black 2px;" alt=" Sample Photo" width="200" height="200" /> 
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme3"><div class="buttons"><button class="singlememebutton-3">Kup mema!</button></div></a> @{/*przycisk trzeci*/}
                    <img src="~/css/meme-5.png" style="position:relative;bottom:676px;left:102px;margin-top:5px;border: solid black 2px;" alt=" Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme4"><div class="buttons"><button class="singlememebutton-4">Kup mema!</button></div></a>@{
                        /*przycisk czwarty*/
                    }
                </div>
                <div class="row-cols-sm-8">
                    <img src="~/css/meme-18.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme8"><div class="buttons"><button class="singlememebutton-5">Kup mema!</button></div></a> @{/*przycisk czwarty*/}
                    <img src="~/css/meme-6.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme7"><div class="buttons"><button class="singlememebutton-6">Kup mema!</button></div></a> @{/*przycisk trzeci*/}
                    <img src="~/css/meme-7.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme5"><div class="buttons"><button class="singlememebutton-7">Kup mema!</button></div></a> @{/*przycisk pierwszy*/}
                    <img src="~/css/meme-8.png" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme6"><div class="buttons"><button class="singlememebutton-8">Kup mema!</button></a> @{/*przycisk drugi*/}
                </div>
                </div>
                <div class="row-cols-sm-8">
                    <img src="~/css/meme-9.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme9"><div class="buttons"><button class="singlememebutton-9">Kup mema!</button></div></a> @{/*przycisk pierwszy*/}    
                    <img src="~/css/meme-10.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme10"><div class="buttons"><button class="singlememebutton-10">Kup mema!</button></div></a> @{/*przycisk drugi*/} 
                    <img src="~/css/meme-11.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme11"><div class="buttons"><button class="singlememebutton-11">Kup mema!</button></div></a> @{/*przycisk trzeci*/} 
                    <img src="~/css/meme-12.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme12"><div class="buttons"><button class="singlememebutton-12">Kup mema!</button></div></a> @{/*przycisk czwarty*/} 
                </div>
                <div class="row-cols-sm-8">
                    <img src="~/css/meme-13.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme13"><div class="buttons"><button class="singlememebutton-13">Kup mema!</button></div></a> @{/*przycisk pierwszy*/}
                    <img src="~/css/meme-14.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme14"><div class="buttons"><button class="singlememebutton-14">Kup mema!</button></div></a> @{/*przycisk drugi*/}
                    <img src="~/css/meme-15.jpg" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme15"><div class="buttons"><button class="singlememebutton-15">Kup mema!</button></div></a> @{/*przycisk trzeci*/}
                    <img src="~/css/meme-16.png" style="margin-top:5px;border: solid black 2px;background-size: cover;" alt="Sample Photo" width="200" height="200" />
                    <a class="redirect" asp-area="" asp-controller="Singles" asp-action="SingleMeme16"><div class="buttons"><button class="singlememebutton-16">Kup mema!</button></div></a> @{/*przycisk czwarty*/}
                </div>
            </div>
        </div>
    </section>
</body>
</html>
